body{
    margin: 0;
    padding: 0;
}

.custom-banner-1{
    margin-bottom: 100px;
}

.nav-section{
    background-color: rgb(200, 226, 205); 
    padding-bottom: 20px;
}

.custom-nav{
    background-color: rgb(200, 226, 205);
   
}

#logo{
    width: 198.07px;
    height: 59px;
   /* margin-left: 20px; */
    /* width: 45%; */
    
}

.nav-item a{
margin-right: 35px;
}

.btn-nav{
    background-color: #21B573 ;
    width: 104px 43px;
    padding: 12px 28px;
    border-radius: 25px;
    color: #fff;
    transition: all .3s ease-in-out;
   }

   .btn-nav:hover{
       transform: scale(1.1);
       border-radius: none;
       background-color: green;
   }
   .custom-banner-1{
       margin-top: 50px;
       background-color: rgb(200, 226, 205);
   }

   .custom-banner-1 p:first-child{
       color: orangered;
   }
   .custom-banner-1 span{
       color:#21B573 ;
   }


/*  banner start here */

   .custom-banner-1 img{
  
   /* width: 554px;
   height: 346px; */
    width: 100%;
   }

   .btn-banner {
       
    width: 153px;
    height: 43px;
    padding: 12px 36px;
    background-color: #21B573 ;;
    border-radius: 25px;
    color: #fff;
    transition: all .3s ease-in-out;
   }

   .btn-banner:hover{
    transform: scale(1.1);
    border-radius: none;
    background-color: green;
   }


  /* Learn-icon start here */


   .learn-icon{
    /* margin:100px 100px; */
    padding: 100px 50px;
}

   .icon-bg img{
     padding: 10px;
    width: 40%;
    /* width: 66px;
    height: 85px; */
   }


   .icon-bg{
       border: none;
       margin: 10px;
       background-color: #f8fffb;
       border-radius: 10px;
   }

   .shadow-icon img{
    padding: 10px;
    width: 40%;
    /* width: 66px;
    height: 85px; */
    margin: 8px;
   }

   .custom-card-shadow{
       border: none;
       box-shadow: 1px 11px 20px -6px rgba(0,0,0,0.28);
   }

   .shadow-icon{
        border: none;
       /* width: 66px;
        height: 85px; */
        background-color: #fff;
       box-shadow: 1px 11px 20px -6px rgba(0,0,0,0.28);
       border-radius: 10px;
   }

   /* online-courses start here */

   .online-courses{
       padding-bottom: 100px;
   }

.online-courses, .card{

    transition: all .3s ease-in-out;
}

.online-courses, .card:hover{
    transform: scale(1.1);
}

   .online-courses h1, h5{
       font-weight: 700;
       color: #413960;
   }

   .calender-icon{
       display: flex;
      margin-top: 40px;
     justify-content: space-around;
    

   }
   .calender-icon p{
       padding: 5px;
       margin-bottom: -6px;
   }
   .calender-icon img {
      
       width: 10%;
   }

   /* testimonial start here */

   .testimonial-conta{
       padding-bottom: 100px;
   }
   .testimonial-conta h1{
       margin-bottom: 60px;
   }

   .testimonial-conta img {
     
       width: 120px;
       height: 120px;
    
         /* width: 15%; */
   }
   .testimonial-conta p{
       padding-left: 40px;
       max-width: 50%;
   }
 
   /* footer start here */

   .with-footer{
       background-color: #282531;
       width: 100%;
       height: auto;
      color: #fff;
      padding-top: 80px;
       
   }
   h6{
       color:  orangered;
   }

 footer{
     padding: 80px;
   }

   
